In [ ]:
#Installing Yfinance API
!pip install yfinance

#Importing it as python lib
import yfinance as yf

In [7]:
#Identifying which ticker to look for
msft=yf.Ticker("MSFT")

In [8]:
#Retrieving historical data for the Ticker
msft_data=msft.history(period="max")

In [10]:
#show first 5 rows 
msft_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054594,0.062623,0.054594,0.059946,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.059946,0.063158,0.059946,0.062087,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062087,0.063694,0.062087,0.063158,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063158,0.063694,0.061017,0.061552,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061552,0.062087,0.059946,0.060482,47894400,0.0,0.0

In [13]:
msft_data_day=msft.history(period="1d")
msft_data_day.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-09-03 00:00:00-04:00,417.910004,419.880005,407.029999,409.440002,20285900,0.0,0.0

In [15]:
msft_data_5day=msft.history(period="5d")
msft_data_5day.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-27 00:00:00-04:00,412.859985,414.359985,410.250000,413.839996,13492900,0.0,0.0
2024-08-28 00:00:00-04:00,414.880005,415.000000,407.309998,410.600006,14882700,0.0,0.0
2024-08-29 00:00:00-04:00,414.940002,422.049988,410.600006,413.119995,17045200,0.0,0.0
2024-08-30 00:00:00-04:00,415.600006,417.489990,412.130005,417.140015,24308300,0.0,0.0
2024-09-03 00:00:00-04:00,417.910004,419.880005,407.029999,409.440002,20285900,0.0,0.0

In [17]:
msft_data_month=msft.history(period="1mo")
msft_data_month

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-05 00:00:00-04:00,388.469835,400.318474,384.886267,394.439056,40709200,0.00,0.0
2024-08-06 00:00:00-04:00,399.280335,404.940147,397.783033,398.891022,24946500,0.00,0.0
2024-08-07 00:00:00-04:00,407.904818,409.342199,396.754901,397.713165,20650900,0.00,0.0
2024-08-08 00:00:00-04:00,401.715934,405.129764,399.220432,401.965485,20203000,0.00,0.0
2024-08-09 00:00:00-04:00,403.303080,407.315836,401.536275,405.289490,19276700,0.00,0.0
2024-08-12 00:00:00-04:00,406.327614,408.024568,403.512681,406.078064,16762900,0.00,0.0
2024-08-13 00:00:00-04:00,408.853076,414.203448,408.833123,413.265137,19414300,0.00,0.0
2024-08-14 00:00:00-04:00,414.053694,416.968454,411.707946,416.109985,18267000,0.00,0.0
2024-08-15 00:00:00-04:00,419.799988,421.109985,417.660004,421.029999,20752100,0.75,0.0
2024-08-16 00:00:00-04:00,420.600006,421.339996,417.299988,418.470001,22775600,0.00,0.0
2024-08-19 00:00:00-04:00,418.959991,421.750000,416.459991,421.529999,15234000,0.00,0.0
2024-08-20 00:00:00-04:00,421.700012,425.859985,421.640015,424.799988,16387600,0.00,0.0
2024-08-21 00:00:00-04:00,424.079987,426.399994,421.720001,424.140015,16067300,0.00,0.0
2024-08-22 00:00:00-04:00,424.359985,426.790009,414.609985,415.549988,19361900,0.00,0.0
2024-08-23 00:00:00-04:00,416.980011,419.260010,412.089996,416.790009,18493800,0.00,0.0
2024-08-26 00:00:00-04:00,416.369995,417.279999,411.339996,413.489990,13152800,0.00,0.0
2024-08-27 00:00:00-04:00,412.859985,414.359985,410.250000,413.839996,13492900,0.00,0.0
2024-08-28 00:00:00-04:00,414.880005,415.000000,407.309998,410.600006,14882700,0.00,0.0
2024-08-29 00:00:00-04:00,414.940002,422.049988,410.600006,413.119995,17045200,0.00,0.0
2024-08-30 00:00:00-04:00,415.600006,417.489990,412.130005,417.140015,24308300,0.00,0.0
2024-09-03 00:00:00-04:00,417.910004,419.880005,407.029999,409.440002,20285900,0.00,0.0

In [ ]:
#3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max periods